#
# Amlogic Video Decoders configuration
#

menu "Video Decoders"
	depends on AMLOGIC_MEDIA_VIDEO


config AMLOGIC_MEDIA_VDEC_MPEG12
	bool "Amlogic MPEG1/2 Video Decoder"
	default y
	help
	   Driver for mpeg1/2 video decoder.
	   select AM_PTSSERVER...
	   select for build for support mpeg1 &2
		
config AMLOGIC_MEDIA_VDEC_MPEG4
	bool "Amlogic MPEG4 Video Decoder"
	default y
	help
	  Driver for mpeg4 video decoder.
		
config AMLOGIC_MEDIA_VDEC_MPEG4_MULTI
	bool "Amlogic MMPEG4 Video Decoder"
	default n
	help
	  Driver for Mmpeg4 video decoder.

config AMLOGIC_MEDIA_VDEC_VC1
	bool "Amlogic VC1 Video Decoder"
	default y
	help
	  Driver for vc1 video decoder.
		
config AMLOGIC_MEDIA_VDEC_H264
	bool "Amlogic H264 Video Decoder"
	default y
	help
	  Driver for h264 video decoder.
		
config AMLOGIC_MEDIA_VDEC_H264_MULTI
	bool "Amlogic MH264 Video Decoder"
	default n
	help
	  Driver for Mh264 video decoder.
		
config AMLOGIC_MEDIA_VDEC_H264_MVC
	bool "Amlogic H264MVC Video Decoder"
	default y
	help
	  Driver for h264mvc video decoder.
		
config AMLOGIC_MEDIA_VDEC_H265
        bool "Amlogic H265 Video Decoder"
	default y
	help
          Driver for h265 video decoder.
		
config AMLOGIC_MEDIA_VDEC_VP9
        bool "Amlogic VP9 Video Decoder"
        default y
	help
          Driver for vp9 video decoder.
		
config AMLOGIC_MEDIA_VDEC_MJPEG
	bool "Amlogic Motion JPEG Video Decoder"
	default y
	help
	  Driver for motion jpeg video decoder.
		
config AMLOGIC_MEDIA_VDEC_MJPEG_MULTI
	bool "Amlogic Motion JPEG Video Decoder"
	default y
	help
	  Driver for motion jpeg video decoder.
		
config AMLOGIC_MEDIA_VDEC_REAL
	bool "Amlogic Real Video decoder"
	default y
	help
		Enables amlogic video decoder
		
config AMLOGIC_MEDIA_VDEC_AVS
	bool "Amlogic Video AVS decoder"
	default n
	help
		Enables amlogic video decoder
		
config AMLOGIC_MEDIA_VDEC_AVS2
	bool "Amlogic Video AVS2 decoder"
	default n
	help
		Enables amlogic video decoder
		
config AMLOGIC_MEDIA_VENC_H264
	boolean "Amlogic H264Encoder support"
	default n
	help
		Internal H264 Encoder driver
		
config AMLOGIC_MEDIA_VENC_H265
	boolean "Amlogic Hevc Encoder support"
	default n
	help
		Internal Hevc Encoder driver
		
config AMLOGIC_MEDIA_ENHANCEMENT_DOLBYVISION
	boolean "Amlogic Dolby Vision Enhancement"
	default y
	help
		Enables amlogic Dolby Vision Enhancement

endmenu
