#include "coreelec_common.dtsi"

/{
	/delete-node/ auge_sound;
	auge_sound {
		compatible = "amlogic, g12a-sound-card";
		aml-audio-card,name = "AML-AUGESOUND";
		spk_mute-gpios = <&gpio_ao GPIOAO_2 GPIO_ACTIVE_LOW>;
		aml-audio-card,effect = <&audio_effect>;

		aml-audio-card,dai-link@0 {
			mclk-fs = <128>;
			continuous-clock;
			cpu {
				sound-dai = <&aml_spdif_b>;
				system-clock-frequency = <6144000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@1 {
			format = "i2s";// "dsp_a";
			mclk-fs = <256>;
			bitclock-master = <&aml_tdmb>;
			frame-master = <&aml_tdmb>;
			continuous-clock;
			cpu {
				sound-dai = <&aml_tdmb>;
				dai-tdm-slot-tx-mask = <1 1>;
				dai-tdm-slot-rx-mask = <1 1>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <32>;
				system-clock-frequency = <12288000>;
			};
			codec {
				sound-dai = <&amlogic_codec>;
			};
		};

		aml-audio-card,dai-link@2 {
			mclk-fs = <128>;
			continuous-clock;
			cpu {
				sound-dai = <&aml_spdif>;
				system-clock-frequency = <6144000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@3 {
			format = "i2s";// "dsp_a";
			mclk-fs = <256>;
			bitclock-master = <&aml_i2s2hdmi>;
			frame-master = <&aml_i2s2hdmi>;
			continuous-clock;
			cpu {
				sound-dai = <&aml_i2s2hdmi>;
				dai-tdm-slot-tx-mask = <1 1>;
				dai-tdm-slot-rx-mask = <1 1>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <32>;
				system-clock-frequency = <12288000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};
	};
};

&audiobus {
	aml_spdif: spdif {
		pinctrl-0 = <&spdifout>;
	};

	aml_spdif_b: spdif_b {
		status = "okay";
	};

	aml_tdmb: tdmb {
		/delete-property/ samesource_sel;
		i2s2hdmi = <0>;
		status = "okay";
	};

	aml_i2s2hdmi: i2s2hdmi {
		compatible = "amlogic, g12a-snd-tdmc";
		#sound-dai-cells = <0>;
		dai-tdm-lane-slot-mask-out = <1 1 1 1>;
		dai-tdm-clk-sel = <2>;
		clocks = <&clkaudio CLKID_AUDIO_MCLK_C
				&clkc CLKID_MPLL2>;
		clock-names = "mclk", "clk_srcpll";
		i2s2hdmi = <1>;
		status = "okay";
		mclk_pad = <1>;  /* 0: mclk_0; 1: mclk_1 */
	};
};
