#include "g12a_s905x2_2g.dts"

/{
	coreelec-dt-id = "g12a_s905x2_2g_1gbit";
};

&ethmac {
	pinctrl-names = "external_eth_pins";
	pinctrl-0 = <&external_eth_pins>;
	mc_val = <0x1621>;
	internal_phy=<0>;
};
