#include "s5_s928x_x96_x10_4g.dts"

/ {
	model = "Tencent Aurora Box 5X";
	coreelec-dt-id = "s5_s928x_tencent_aurora_5x";
	amlogic-dt-id = "s5_s928x_ax201-v2";

	/delete-node/ sdcard-3v3;
	/delete-node/ sdcard-1v8_3v3;
};

&sd_emmc_b {
	status = "disabled";
	/delete-property/ vmmc-supply;
	/delete-property/ vqmmc-supply;
};
