
menu "Amlogic Peripheral_lcd Support"

config AMLOGIC_PERIPHERAL_LCD
	bool "Amlogic peripheral_lcd support"
	depends on BACKLIGHT_CLASS_DEVICE
	default n
	help
		Say Y here if you want to use the Amlogic peripheral_lcd management.
		Peripheral_lcd include spi_lcd and other peripheral_lcd that you want
		to add.

endmenu
